[submodule "browser-extension"]
	path = browser-extension
	url = https://github.com/ux-builder/anythingllm-extension.git
[submodule "embed"]
	path = embed
	url = https://github.com/ux-builder/anythingllm-embed.git
	branch = main
